@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

textarea {
  text-align: center;
  font: 400 13.3px "Inter";
  padding: 1vh 1vw 1vh 1vw;
  overflow: hidden;
  resize: none;
}

html {
  background-color: #171717;
}

body {
  font-family: "Inter", sans-serif;
  color: white;
  margin: 0;
}

select,
input,
textarea {
  -webkit-appearance: none;

  height: 35px;
  background-color: #192241;
  color: #5c5d6b;
  border: 1px solid #92ebf7;
  box-sizing: border-box;
  border-radius: 5px;

  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

a:visited {
  text-decoration: none;
  color: white;
}

p {
  margin-left: 5vw;
  margin-right: 5vw;
}

.long-input {
  width: 50vw;
  height: 20vh;
}

.error-glow {
  border: 1px solid #ff4c4c; /* some kind of blue border */

  /* other CSS styles */

  /* round the corners */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  /* make it glow! */
  -webkit-box-shadow: 0px 0px 4px #ff4c4c;
  -moz-box-shadow: 0px 0px 4px #ff4c4c;
  box-shadow: 0px 0px 4px #ff4c4c; /* some variation of blue for the shadow */
}

.box {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.box input {
  padding-left: 8.5px;
  padding-right: 8.5px;
}

.box .label-text {
  white-space: nowrap;
  margin-right: 1vw;
}

.box span {
  margin-bottom: 1vh;
  margin-top: 1vh;
  display: block;
}

select#locales {
  margin-right: 20px;
}

select:focus {
  color: white;
}

button {
  height: 36px;
  width: 100px;
  background-color: #7d3b93;
  color: #f8f8ff;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background-color: #ffc0ec;
  color: black;
  cursor: pointer;
}

h1 {
  color: white;
}

div .error h1:hover {
  color: #ff4c4c;
}

div .pinkText h1:hover {
  color: #ffc0ec;
}

#main {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  font-size: 60px;
  display: inline-block;
}

.hover-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hover-grow:hover,
.hover-grow:focus,
.hover-grow:active {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
