<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://bonzay.io/favicon/favicon.ico" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="Nike ATC link setup" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Setup for Nike ATC links" />
    <meta name="theme-color" content="#92EBF7" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://bonzay.io/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://bonzay.io/favicon/favicon-16x16.png"
    />
    <link rel="stylesheet" href="/css/default.css" />
    <title>BONZAY | Nike ATC link setup</title>
  </head>

  <body>
    <div id="main">
      <div class="fof">
        <h1>Nike Link Setup</h1>
        <br />
        <br />

        <div class="box">
          <a
            target="_blank"
            href="https://unite.nike.com/auth/unite_session_cookies/v1"
          >
            <span class="label-text">Click here to get your Access Token</span>
          </a>
          <textarea
            class="long-input"
            id="nike-authentication"
            rows="5"
            cols="80"
            placeholder="Paste your 'access_token' here, then select your locale below"
          ></textarea>
        </div>

        <div class="box">
          <p>
            Nike changes your access_token <b>every few hours</b>. This means
            that whenever it becomes invalid, you'll be redirected to this page
            to update it.
          </p>
          <p>
            <b>Disclaimer:</b> For this tool to work properly, it requires to
            use your personal information (so called 'Bearer Token'). This token
            could be used to access other, private information of your Nike
            account such as saved payment & billing information. We do not
            access nor store this kind of data in any way and all information
            for this tool to work properly is stored locally, in the user's
            browser cookies. By using this tool, you agree that the provider
            (BONZAY s.r.o) is not liable for any damages caused by the use of
            this tool.
          </p>
          <p>
            By clicking "Set Locale" below, you acknowledge and agree with the
            disclaimer above.
          </p>
        </div>
        <div class="selecting box">
          <select id="locales">
            <option selected disabled>Select your locale</option>
            {{ range $key, $value := .Locales }}
            <option value="{{ $value }}">{{ $key }}</option>
            {{
              end
            }}
          </select>
          <button class="hover-grow" onclick="setCookies()">Set Locale</button>
        </div>
      </div>
    </div>
    <script>
      function getCookieValue(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(";").shift();
      }

      var locale = getCookieValue("nike_locale");
      if (locale) {
        var allLocales = document.getElementById("locales");
        var localeIndex = Array.from(allLocales).findIndex(
          (el) => el.value == locale
        );
        if (localeIndex) {
          allLocales.options[localeIndex].selected = true;
        }
      }

      function setCookies() {
        var tokenField = document.getElementById("nike-authentication");
        var token = tokenField.value?.replaceAll('"', "");
        if (token.trim() == "") {
          tokenField.classList.add("error-glow");
          return;
        }
        var allLocales = document.getElementById("locales");
        var selected = allLocales.options[allLocales.selectedIndex];
        var locale = selected.value;
        if (locale == "Select your locale") {
          document.querySelector("#locales").classList.add("error-glow");
          return;
        }

        document.cookie =
          "nike_auth=" +
          token +
          ";Expires=Tue, 01 Jan 2099 00:00:00 GMT;path=/";

        document.cookie =
          "{{ .CookieName }}=" +
          locale +
          ";Expires=Tue, 01 Jan 2099 00:00:00 GMT;path=/";
        var s =
          "Locale successfully set to <b>" +
          selected.textContent +
          "</b>! You may close this tab now.";
        var d = document.querySelector("div.selecting");
        d.innerHTML = s;
        d.setAttribute("style", "color: #66ff00;");
      }
    </script>
  </body>
</html>
